.Todo {
    font-size: 18px;
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 100px;

    .TotalTodo {
        text-align: center;
        color: #5c5d62;
    }
}

#light {
    background-color: #bdbfca;
}

#dark {
    background-color: #5c5d62;
    color: white;

    button {
        color: white;
    }

    .TotalTodo {
        text-align: center;
        color: #999;
    }
}

@media screen and (max-width: 768px) {
    .Todo {
        font-size: 18px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .FiltersBlock {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            button {
                font-size: 13px;
                border: 0;
                width: 75px;
                height: 30px;
            }
        }

        .InputField {
            padding-top: 15px;
            width: 300px;
            display: flex;
            justify-content: space-around;

            input {
                width: 200px;
                height: 30px;
                font-size: 18px;
            }

            button {
                font-size: 18px;
                border: 0;
                width: 50px;
                height: 30px;
            }
        }
    }

    #light {
        background-color: #bdbfca;
    }

    #dark {
        background-color: #5c5d62;
        color: white;
    }
}
