.Todo {
    font-size: 18px;
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 100px;

    .InputField {
        padding-top: 15px;
        width: 300px;
        display: flex;
        justify-content: space-around;

        input {
            width: 200px;
            height: 30px;
            font-size: 18px;

            &:focus {
                outline: none;
            }

            &::placeholder {
                font-size: 18px;
            }
        }

        button {
            font-size: 18px;
            border: 0;
            width: 50px;
            height: 30px;
            background-color: transparent;

            &:hover {
                cursor: pointer;
                background-color: rgb(227, 227, 227);
                border-radius: 5px;
            }
        }
    }

    .TodoList {
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        gap: 20px;
        list-style: decimal;

        .TodoListItem {
            position: relative;

            input[type='checkbox'] {
                position: absolute;
                left: 5px;
                width: 18px;
                height: 18px;
            }

            input::before {
                content: '';
                display: inline-block;
                width: 18px;
                height: 18px;
                cursor: pointer;
            }

            input:checked + span {
                text-decoration: line-through;
            }

            span {
                position: absolute;
                left: 35px;
            }

            button {
                position: absolute;
                right: 5px;
                border: 0;
                font-size: 23px;
                background-color: transparent;

                &:hover {
                    cursor: pointer;
                    background-color: rgb(227, 227, 227);
                    border-radius: 5px;
                }
            }
        }
    }
}

#light {
    background-color: rgb(236, 247, 251);
}

#dark {
    background-color: rgb(3, 71, 108);
    color: white;

    button {
        color: white;
    }
}

@media screen and (max-width: 768px) {
    .Todo {
        font-size: 18px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .FiltersBlock {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            button {
                font-size: 13px;
                border: 0;
                width: 75px;
                height: 30px;
            }
        }

        .InputField {
            padding-top: 15px;
            width: 300px;
            display: flex;
            justify-content: space-around;

            input {
                width: 200px;
                height: 30px;
                font-size: 18px;
            }

            button {
                font-size: 18px;
                border: 0;
                width: 50px;
                height: 30px;
            }
        }

        .TodoList {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: left;
            gap: 20px;
            list-style: decimal;

            .TodoListItem {
                position: relative;

                input[type='checkbox'] {
                    position: absolute;
                    left: 5px;
                    width: 18px;
                    height: 18px;
                }

                input::before {
                    content: '';
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    cursor: pointer;
                }

                input:checked + span {
                    text-decoration: line-through;
                }

                span {
                    position: absolute;
                    left: 35px;
                }

                button {
                    position: absolute;
                    right: 5px;
                    border: 0;
                    font-size: 23px;
                    background-color: transparent;
                }
            }
        }
    }

    #light {
        background-color: rgb(232, 238, 240);
    }

    #dark {
        background-color: rgb(5, 91, 137);
    }
}
