@media screen and (max-width: 768px) {
    .Todo {
        font-size: 18px;
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .InputField {
            padding-top: 15px;
            width: 300px;
            display: flex;
            justify-content: space-around;

            input {
                width: 200px;
                height: 30px;
                font-size: 18px;
            }

            button {
                font-size: 18px;
                border: 0;
                width: 50px;
                height: 30px;
            }
        }

        .TodoList {
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: left;
            gap: 20px;
            list-style: decimal;

            .TodoListItem {
                position: relative;

                input[type='checkbox'] {
                    position: absolute;
                    left: 5px;
                    width: 18px;
                    height: 18px;
                }

                input::before {
                    content: '';
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    cursor: pointer;
                }

                input:checked + span {
                    text-decoration: line-through;
                }

                span {
                    position: absolute;
                    left: 35px;
                }

                button {
                    position: absolute;
                    right: 5px;
                    border: 0;
                    font-size: 23px;
                    background-color: transparent;
                }
            }
        }
    }
}
